body{
    background: #536976;
    background: linear-gradient(
        to right,
        #536976,#292E49
    );
    min-width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#popup{
    max-width: 600px;
    background-color: #69889a;
    margin-top: 3%;
    padding: 7%;
}


div{
    padding: 2%;
}

label{
    padding-left: 2%;
    padding-right: 2%;
    font-size: 25px;
    font-weight: bold;
}

